html{
    background-color:#e5e5e5;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
body{
    width: 2000px;
}
/* 防止出现两个滚动条 */
html, body {
    height: 100%;
    overflow: hidden;
  }